# Subdirectories
.metals/
target/
project/

# Files
*.json
*.fir
*.v
*.class
*.fir
*.jar
*.log
*.zip
*.bak
*.log
.metals/metals.h2.db

target/streams/compile/compileIncremental/_global/streams/out
.gitignore
target/streams/compile/packageBin/_global/streams/out
